@import"none";
@import"js";
@font-face {
	font-family: 'redoctober';
	src: url('../fonts/RedOctober.eot');
	src: local('☺'), url('../fonts/RedOctober.woff') format('woff'), url('../fonts/RedOctober.ttf') format('truetype'), url('../fonts/RedOctober.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
   font-family: 'mincraft';
   src: url(../fonts/16596.eot);
   src: url(../fonts/16596.eot?#iefix) format('embedded-opentype'),
        url(../fonts/16596.otf) format('otf'),
        url(../fonts/16596.svg#16596) format('svg'),
        url(../fonts/16596.ttf) format('truetype'),
        url(../fonts/16596.woff) format('woff'),
        url(../fonts/16596.woff2) format('woff2');
 }
.body{
   background: black;
}
.wraper-fon{
 width: 100%;
 height: 710px;
 
 position: absolute;
 opacity: 0.4;
 z-index: 1;
 
}
.wrapper{
  overflow: auto;
   width: 100%;
   height: 100vh;
   background: black;
   background-size:100% 100% ;
 position: relative;
 display: block;
}
.content{
   height: 100%;
   z-index: 2;
   
   width: 100%;
}
.score {
  background-color:rgba(255, 255, 255,1);
  height: 100px;
  width:500px;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin:50px auto 0 auto;
  align-items: center;
  border-radius: 30px;
   &__result {
      font-size: 30px;
	   font-family: "Ubuntu";
      font-weight: 400;
      margin-right: 14px;
      display: flex;
      flex-flow: row;
   }
   &__result-best  {
      font-size: 28px;
	   font-family: "Ubuntu";
      font-weight: 400;
      display: none;
   }
   &__result-num{
      font-size: 30px;
	   font-family: "Ubuntu";
      font-weight: 400;
      margin-left: 5px;
   }
     
   

   
}

.game {
   width: 600px;
   height: 350px;
   border: 1px solid black;
   margin: 55px auto 0 auto;
   position: relative;
   background-image: url(/img/фон.jpg);
   background-size: 100% 100%;
   z-index: 2;
   overflow: hidden;
  
}

.dino-img{
   width: 100%;
   height: 100%;
}
.dino {
  width: 80px;
  height: 110px;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  left: 50px;
}

.enemy-img{
height: 100%;
width: 100%;

}
.enemy {
   width: 70px;
   height: 100px;
   bottom: 10px;
   z-index: 2;
   left: -100%;
   position: absolute;
  opacity:1;
}
.floor {
   width: 100%;
   height: 20px;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 1;
   animation: floor 5s infinite
   cubic-bezier(1,1,1,1);
}
.floor-img {
   width: 400%;
   height: 100%;
   
}
.start {
  background:url(/img/photo5375101822794053423.jpg);
  position:absolute;
  background-size: 100% 100%;
  z-index: 5;
  width: 100%;
  opacity: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.start-botton {
width: 150px;
height: 40px;
background-color: rgba(255, 0, 0,1);
opacity: 1;
border-radius: 30px;
display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
.start-bottom-p {
   font-size: 20px;
   font-family: 'redoctober';
   color: yellow;
}

@keyframes enemy {
   0%{
      left:100%
   }
   100%{
      left:-15%
   }
}
@keyframes floor{
   0%{
      left:0%
   }
   100%{
      left:-300%
   }
}

.start-botton:hover{
   box-shadow: 0px  3px 10px  yellow;

}

.text {
   font-size: 30px;
}

@media(max-width:600px){
   .game {
      width: 360px;
      height: 192px;
      border: 1px solid black;
      margin: 40px auto 0 auto;
      position: relative;
      background-image: url(/img/фон.jpg);
      background-size: 100% 100%;
      order: 1;
      overflow: hidden;

   }
   .dino {
      width: 50px;
      height: 70px;
      position: absolute;
      bottom: 10px;
      z-index: 2;
      left: 25px;
    }
    
    .enemy-img{
    height: 100%;
    width: 100%;
    
    }
    .enemy {
       width: 40px;
       height: 55px;
       bottom: 10px;
       z-index: 2;
       left: -100%;
       position: absolute;
      opacity:1;
    }
    .floor {
       width: 100%;
       height: 20px;
       position: absolute;
       bottom: 0;
       left: 0;
       z-index: 1;
       animation: floor 5s infinite
       cubic-bezier(1,1,1,1);
    }
    .floor-img {
       width: 400%;
       height: 100%;
       
    }
    .start {
      background-color: black;
      position:absolute;
      z-index: 5;
      width: 100%;
      opacity: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .start-botton {
    width: 150px;
    height: 40px;
    background-color: red;
    opacity: 1;
    border-radius: 30px;
    display: flex;
      justify-content: center;
      align-items: center;
    
    }
    .start-bottom-p {
       font-size: 20px;
       font-family: "Red October";
       color: yellow;
    }
    @keyframes jump{
      0%{
         bottom: 10px;
      }
      50%{
         bottom: 100px;
      }
      100%{
         bottom: 10px;
      }
   }
   .jump{animation: jump 0.9s  ;
      animation-timing-function: cubic-bezier(1,1,1,1);
   }
   .score {
      background-color:rgba(255, 255, 255,1);
      height: 80px;
      width:250px;
      z-index: 2;
      position: relative;
      display: flex;
      justify-content: center;
      flex-flow: row;
      margin:50px auto 0 auto;
      align-items: center;
      border-radius: 30px;
       &__result {
          font-size: 30px;
          font-family: "Ubuntu";
          font-weight: 400;
          margin-right: 14px;
          display: flex;
          flex-flow: row;
       }
       &__result-best  {
          font-size: 28px;
          font-family: "Ubuntu";
          font-weight: 400;
          
       }
       &__result-num{
          font-size: 30px;
          font-family: "Ubuntu";
          font-weight: 400;
          margin-left: 5px;
       }
}


}

.setting {
    width: 150px;
    height:40px;
    display: block;
    display: flex;
    justify-content: center;
  align-items: center;
  pointer-events: visible;
   &__bottom {
      width: 150px;
      height: 40px;
      background-color: red;
      opacity: 1;
      border-radius: 30px;
     overflow: hidden;
   }

   &__bottom-p {
      font-size: 18px;
      font-family: "Red October";
      color: yellow;
   }
   
}
.setting__bottom:hover{
   box-shadow: 0px  2px 8px  yellow;

}


.contentSecond {
   margin: 0 auto;
   width: 350px;
   height: 100%;
   justify-content: center;
   position: relative;
   z-index: 2;
   display: flex;
   flex-flow:column;
  padding-right: 10px;
  padding-left: 10px;
}
.closet {
  position: absolute;
  
  display: block;
  top:10px;
  right: 100px;
  
  width: 70px;
  height: 70px;
}
.closetD{
   position: relative;
   width: 80px;
   height: 80px;
   top:2% ;
   right: 2%;
}
.closetD::after{
   content: "";
   width: 70px;
   height: 10px;
   background-color: gray;
   position: absolute;
   top:35px;
   left:0;
   transform: rotate(-45deg);
  
}
.closetD::before{
   content: "";
   width: 70px;
   height: 10px;
   background-color: gray;
   position: absolute;
   bottom:35px;
   left:0;
   transform: rotate(45deg);
  
  
}

.column {
    width: 50%;
    height: 240px;
    font-size: 18px;
    font-family: "mincraft";
    color: white;
    margin-top: 50px;
		&__menu-item {
         width: 300px;
         height: 50px;
          background: rgb(158, 157, 157);
          border: 5px solid black;
          margin: 10px 0 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
         
		}

		&__menu-donate {
         width: 100%;
         height: 100%;
         display: block;
         display: flex;
         justify-content: center;
         align-items: center;
		}

		&__menu-donate-p {
         color: white;
         text-decoration: none;
		}
}
.column__menu-itemB{
   width: 300px;
   height: 50px;
    background: rgb(158, 157, 157);
    border: 5px solid black;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mishkf-body {
   display: none;
}
.mishka {
   width: 100%;
   height: 700px;
}

.closet-contein{
   position: absolute;
   top:10%;
   right: 10%;
}
.closM{
   position: relative;
   width: 80px;
   height: 80px;
   
}
.closM::after{
   content: "";
   width: 70px;
   height: 10px;
   background-color: red;
   position: absolute;
   top:35px;
   left:0;
   transform: rotate(-45deg);
  
}
.closM::before{
   content: "";
   width: 70px;
   height: 10px;
   background-color: red;
   position: absolute;
   bottom:35px;
   left:0;
   transform: rotate(45deg);
  
  
}

@media(min-width:600px){
   .contentSecond {
      margin: 0 auto;
      width: 700px;
      height: 100%;
      
      position: relative;
      z-index: 2;
      display: flex;
      flex-flow: row;
      
   }
   .column {
      width: 50%;
      max-height: 700px;
      font-size: 18px;
      font-family: "mincraft";
      color: white;
      margin-top: 120px;}
      .newDino {
         width: 250px;
         height: 250px;
         margin-bottom: 20px;
         
      }
      .newDino-img {
         width: 100%;
         height: 100%;
      }
      .oldDino-img {
         width: 100%;
         height: 100%;
      }
      .oldDino{
         width: 250px;
         height: 250px;
      
      }
      .pashaDino{
         width: 250px;
         height: 250px;
      }
}

.title-dino {
   width: 200px;
   position: absolute;
   top:5%;
   left: 2%;
   
}
.title-dino-h2 {
   font-size: 25px;
   font-family: 'mincraft';
   color: white;
}
.r{
color:white;
text-decoration: none;
}

@media(max-width:599px){
   
   .newDino {
      width: 150px;
      height: 150px;
   }
   .newDino-img {
      width: 100%;
      height: 100%;
   }
   .oldDino-img {
      width: 100%;
      height: 100%;
   }
   .oldDino{
      width: 150px;
      height: 150px;
   
   }
   #marg{
      margin-top: 20px;
    }
    .pashaDino{
      width: 150px;
      height: 150px;
   }
   #columnMSecond{
      margin-top: 115px;
   }
   .title-name{
      margin-top: 20px;
   }
}